@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-green: 158 35% 94%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 148 37% 34%;
    --primary-light: 148 37% 45%;
    --primary-foreground: 0 100% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --action: 20 65% 35%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-dark: 240 4.8% 90.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 155 100% 30.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply min-w-0;
  }
  body {
    @apply relative bg-background text-foreground;
  }
  .hide-password-toggle::-ms-reveal,
  .hide-password-toggle::-ms-clear {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}

@layer utilities {
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
  .mobile-filters-location-popover-height {
    height: calc(var(--radix-popover-content-available-height) - 65px);
  }
  /* .centerAbsolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ball-1 {
    left: 25%;
    top: 75%;
    transform: translate();
    animation: 3s linear 0.5s infinite;
  } */
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  opacity: 0;
  width: 80px;
  height: 80px;
  background-color: #3498db;
  border-radius: 50%;
  /* text-align: center; */
  z-index: 50;
}

.circle {
  border-radius: 50%;
  border-width: 5px;
  border-color: rgba(5, 14, 58, 0.165);
  height: 350px;
  width: 350px;
  z-index: 0;
}

.cutCircleBottom {
  width: 400px;
  height: 42px;
  top: 85%;
  z-index: 10;
}

.ball1 {
  animation: moveBall1 1.5s ease 0s forwards;
}

.ball2 {
  animation: moveBall2 1.5s ease 0s forwards;
}

.ball3 {
  animation: moveBall3 1.5s ease 0s forwards;
}

.ball4 {
  animation: moveBall4 1.5s ease 0s forwards;
}

.ball5 {
  animation: moveBall5 1.5s ease 0s forwards;
}

.ball6 {
  animation: moveBall6 1.5s ease 0s forwards;
}

@keyframes moveBall1 {
  100% {
    opacity: 100;
    top: 80%;
    left: 27%;
  }
}

@keyframes moveBall2 {
  0% {
  }
  100% {
    opacity: 100;
    top: 50%;
    left: 12.8%;
  }
}

@keyframes moveBall3 {
  0% {
  }
  100% {
    opacity: 100;

    top: 20%;
    left: 27%;
  }
}

@keyframes moveBall4 {
  0% {
  }
  100% {
    opacity: 100;

    top: 20%;
    left: 73%;
  }
}
@keyframes moveBall5 {
  0% {
  }
  100% {
    opacity: 100;

    top: 50%;
    left: 87.2%;
  }
}

@keyframes moveBall6 {
  0% {
  }
  100% {
    opacity: 100;
    top: 80%;
    left: 76%;
  }
}

.c {
  opacity: 0;
}

.c-1 {
  animation: showC 1s ease 0s forwards;
}

.c-2 {
  animation: showC 1s ease 0.5s forwards;
}

.c-3 {
  animation: showC 1s ease 1s forwards;
}

.c-4 {
  animation: showC 1s ease 1.5s forwards;
}

.c-5 {
  animation: showC 1s ease 2s forwards;
}

.c-6 {
  animation: showC 1s ease 2.5s forwards;
}

@keyframes showC {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
