@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-green: 158 35% 94%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 148 37% 34%;
    --primary-light: 148 37% 45%;
    --primary-foreground: 0 100% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --action: 20 65% 35%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-dark: 240 4.8% 90.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 155 100% 30.8%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
    @apply min-w-0;
  }

  body {
    @apply relative bg-background text-foreground;
  }
  .hide-password-toggle::-ms-reveal,
  .hide-password-toggle::-ms-clear {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}

@layer utilities {
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
  .mobile-filters-location-popover-height {
    height: calc(var(--radix-popover-content-available-height) - 65px);
  }
  .centerAbsolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heroCirclesHeader {
  transform: translateY(20px);
  animation: slideUpHeroCircleHeader 0.5s linear 0.3s forwards;
}
@keyframes slideUpHeroCircleHeader {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

.heroCircles {
  transform: translateY(20px);
  animation: slideUpHeroCircle 0.5s ease forwards;
}

@keyframes slideUpHeroCircle {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

.heroCircle-1 {
  animation-delay: 0.9s;
}

.heroCircle-2 {
  animation-delay: 1.4s;
}

.heroCircle-3 {
  animation-delay: 1.9s;
}

.heroCircle-4 {
  animation-delay: 2.4s;
}

.heroCircle-5 {
  animation-delay: 2.9s;
}

.heroCircle-6 {
  animation-delay: 3.4s;
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
