node_modules
.env
dist

client/node_modules
server/node_modules
admin/node_modules

client/build
admin/build

client/dist
admin/dist

uploads
server/src/uploads

**/.env*
!**/.env*.example

TODO.md
DIRECTORY.md
